 

 .ethereum-page{
  width: 100vw;
  height:100vh;
 
  position: relative;
 }

 .content{
  width: 50%;
  min-width: 500px;
  min-height: 500px; 
  border: 1px solid #f8f8f8;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.8);


  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

  overflow: hidden;
 
 }
 
 .content .item{
   width: 100%;
   display: flex; 
   align-items: center;
   padding: 10px;
   margin: 10px;
 } 
 .btn{
   margin-left: 10px;
 }
 .label{
   flex: 0 0 100px;
 }
 .value{ 
  flex: 0 0 40%; 
  padding: 5px 0;
  margin-left: 10px;
 }